
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title id="SeleniumTitle">Index</title>
</head>
<body>
    <div> 
        <h1 id="SeleniumH1">Index</h1>
        @Html.ActionLink("Index","Fas")
    </div>
</body>
</html>
